.qv-object-PLSmartPivot div.qv-object-content-container {
	overflow-x:scroll;
	overflow-y:hidden;
	z-index:110
}

.qv-object-PLSmartPivot * {
	box-sizing: border-box;
}

.qv-object-PLSmartPivot icon-xls {
	text-align:left
}
.qv-object-PLSmartPivot button {
	width: 100%;
}
.qv-object-PLSmartPivot table{
    border-collapse:collapse;
    border-spacing:0;
    width:auto;
    border-left:1px solid #d3d3d3;
    border-right:1px solid #d3d3d3;
    border-top:1px solid #d3d3d3
    }
.qv-object-PLSmartPivot td, th{
    border: 1px solid #ffffff;
    padding:5px;
    border-collapse: collapse;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    cursor: default;    
    }

.qv-object-PLSmartPivot .empty{
    width:3%;
    background:#ffffff;
    min-width:4px !important;
    max-width:4px !important;
    /*border-right:1px solid white;
    box-shadow:4px 2px 8px #e1e1e1
    border-bottom:0;
    border-top:0;
    border-left:1px solid #d3d3d3;
    border-right:1px solid #d3d3d3;
    border-top:#fff 1px solid;
    border-bottom:#fff 1px solid*/
    }

.qv-object-PLSmartPivot th.main-kpi{
    text-align:center;
    vertical-align:middle;
    border-bottom:1px solid #d3d3d3
    }
.qv-object-PLSmartPivot .numeric{
    text-align:right
    }
.grid{
    height:50px;
    width:350px
    }
.header-wrapper{
    position:absolute;
    top:0;
    z-index:1
    }
/*popups for headers*/
.tooltip
{
    position: fixed!important;
    color: RGB(70,70,70);
    background-color: RGB(245,239,207);
    text-align: center;
    border: groove;
}
/*end popups*/
.row-wrapper{
    position:absolute;
    top:97px;
    height:100%!Important;
    overflow-x:hidden;
    overflow-y:scroll;
    padding:0;
    margin-top:0;   
    }

/*This is for wrap text in headers*/
.qv-object-PLSmartPivot .wrapclass25{
	width:100%;
	height:25px;
	white-space: pre-line;
	overflow: hidden;
	display:block;
}
.qv-object-PLSmartPivot .wrapclass45{
	width:100%;
	height:45px;
	white-space: pre-line;
	overflow: hidden;
	display:block;	
}
.qv-object-PLSmartPivot .wrapclass70{
	width:100%;
	height:70px;
	white-space: pre-line;
	overflow: hidden;
	display:inline-block;
	vertical-align: middle;
	line-height: 20px;
}
.qv-object-PLSmartPivot .wrapclassEmpty{
	width:100%;	
}
/*******************/
/* Medium column size*/
/*******************/
/*body*/
.qv-object-PLSmartPivot .grid-cells{
    min-width:70px!Important;
    max-width:70px!Important;
    cursor: pointer;
    /*padding:5px 10px;
    margin:0;*/
    }
    
/*header*/
.qv-object-PLSmartPivot .grid-cells2{
    min-width:70px!Important;
    max-width:70px!Important;
    cursor: pointer;
    
    /*padding:5px 10px;
    margin:0;*/
    }
    
/*body*/
.qv-object-PLSmartPivot .grid-cells-small{
    min-width:52px!Important;
    max-width:52px!Important;
    cursor: pointer;
    /*padding:5px 10px;
    margin:0;*/
    }
    
/*header*/
.qv-object-PLSmartPivot .grid-cells2-small{
    min-width:52px!Important;
    max-width:52px!Important;
    cursor: pointer;
    /*padding:5px 10px;
    margin:0;*/
    }
    
/*******************/
/* Small column size*/
/*******************/

/*body*/
.qv-object-PLSmartPivot .grid-cells-s{
    min-width:67px!Important;
    max-width:67px!Important;
    cursor: pointer;
    /*padding:5px 10px;
    margin:0;*/
    }
    
/*header*/
.qv-object-PLSmartPivot .grid-cells2-s{
    min-width:67px!Important;
    max-width:67px!Important;
    cursor: pointer;
    /*padding:5px 10px;
    margin:0;*/
    }
    
/*body*/
.qv-object-PLSmartPivot .grid-cells-small-s{
    min-width:52px!Important;
    max-width:52px!Important;
    cursor: pointer;
    /*padding:5px 10px;
    margin:0;*/
    }
    
/*header*/
.qv-object-PLSmartPivot .grid-cells2-small-s{
    min-width:52px!Important;
    max-width:52px!Important;
    cursor: pointer;
    /*padding:5px 10px;
    margin:0;*/
    }

/*******************/
/* large column size*/
/*******************/
/*body*/
.qv-object-PLSmartPivot .grid-cells-l{
    min-width:82px!Important;
    max-width:82px!Important;
    cursor: pointer;
    /*padding:5px 10px;
    margin:0;*/
    }
    
/*header*/
.qv-object-PLSmartPivot .grid-cells2-l{
    min-width:82px!Important;
    max-width:82px!Important;
    cursor: pointer;
    /*padding:5px 10px;
    margin:0;*/
    }
    
/*body*/
.qv-object-PLSmartPivot .grid-cells-small-l{
    min-width:66px!Important;
    max-width:66px!Important;
    cursor: pointer;
    /*padding:5px 10px;
    margin:0;*/
    }
    
/*header*/
.qv-object-PLSmartPivot .grid-cells2-small-l{
    min-width:66px!Important;
    max-width:66px!Important;
    cursor: pointer;
    /*padding:5px 10px;
    margin:0;*/
    }
/*END OF GRID CELLS*/

/*First Column*/
.qv-object-PLSmartPivot .fdim-cells{
    min-width:230px!Important;
    max-width:230px!Important;
    cursor: pointer;
    background-color:white;
    /*padding:0 20px*/
    }

.qv-object-PLSmartPivot .fdim-cells:hover {
    /*cursor: default;*/
    background-color:#808080 !important;
    color:#ffffff;
}
.qv-object-PLSmartPivot tbody tr:hover {
    cursor: default;
    background-color:#808080 !important;
    color:#ffffff;
}
.qv-object-PLSmartPivot .grid-cells-header{
    /*padding:15px 10px*/
    padding:0px
    }
.qv-object-PLSmartPivot .grid-cells-title{
    min-width:522px
    }

/*estos dos hcen referencia a la primera columna*/
.kpi-table .fdim-cells{
    /*padding:5px 10px*/
    }
.data-table .fdim-cells{
    display:none
    }
.kpi-table{
    width:240px !important;
    overflow:hidden !important;
    display:table;
    height:100%;
    z-index:100;
    /*background:white;*/
    left:258px;
    margin:0;
    padding:0;
    z-index:999;
    position:absolute;
    top:0;
    left:0;
    border-right:1px solid white;
    box-shadow:4px 2px 8px #e1e1e1
    }
.kpi-table .row-wrapper{
    overflow:hidden
    }
.data-table{
    width:272px !important;
    float:left;
    display:table;
    height:100%;
    z-index:90;
    position:absolute;
    margin-left:253px;
    -ms-overflow-style:none
    }