.qv-object-PLSmartPivot .qv-object-content-container {
    overflow-x: scroll;
    overflow-y: hidden;
    z-index: 110;
}
.qv-object-PLSmartPivot icon-xls {
    text-align: left;
}
.qv-object-PLSmartPivot button {
    width: 100%;
}
.qv-object-PLSmartPivot table {
    border-collapse: collapse;
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    border-spacing: 0;
    border-top: 1px solid #d3d3d3;
    width: auto;
}
.qv-object-PLSmartPivot td, th {
    border: 1px solid #fff;
    border-collapse: collapse;
    cursor: default;
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
}
.qv-object-PLSmartPivot .empty {
    background: #fff;
    max-width: 4px !important;
    min-width: 4px !important;
    width: 3%;
}
.qv-object-PLSmartPivot .main-kpi {
    border-bottom: 1px solid #d3d3d3;
    text-align: center;
    vertical-align: middle;
}
.qv-object-PLSmartPivot .numeric {
    text-align: right;
}
.grid {
    height: 50px;
    width: 350px;
}
.header-wrapper {
    position: absolute;
    top: 0;
    z-index: 1;
}
/*popups for headers*/
.tooltip {
    background-color: #f5efcf;
    border: groove;
    color: #464646;
    position: fixed !important;
    text-align: center;
}
/*end popups*/
.row-wrapper {
    height: 100% !important;
    margin-top: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0;
    position: absolute;
    top: 97px;
}
/*This is for wrap text in headers*/
.qv-object-PLSmartPivot .wrapclass25 {
    display: block;
    height: 25px;
    overflow: hidden;
    white-space: pre-line;
    width: 100%;
}
.qv-object-PLSmartPivot .wrapclass45 {
    display: block;
    height: 45px;
    overflow: hidden;
    white-space: pre-line;
    width: 100%;
}
.qv-object-PLSmartPivot .wrapclass70 {
    display: inline-block;
    height: 70px;
    line-height: 20px;
    overflow: hidden;
    vertical-align: middle;
    white-space: pre-line;
    width: 100%;
}
.qv-object-PLSmartPivot .wrapclassEmpty {
    width: 100%;
}
/*******************/
/* Medium column size*/
/*******************/
/*body*/
.qv-object-PLSmartPivot .grid-cells {
    cursor: pointer;
    max-width: 70px !important;
    min-width: 70px !important;
}
/*header*/
.qv-object-PLSmartPivot .grid-cells2 {
    cursor: pointer;
    max-width: 69px !important;
    min-width: 69px !important;
}
/*body*/
.qv-object-PLSmartPivot .grid-cells-small {
    cursor: pointer;
    max-width: 52px !important;
    min-width: 52px !important;
}
/*header*/
.qv-object-PLSmartPivot .grid-cells2-small {
    cursor: pointer;
    max-width: 51px !important;
    min-width: 51px !important;
}
/*******************/
/* Small column size*/
/*******************/
/*body*/
.qv-object-PLSmartPivot .grid-cells-s {
    cursor: pointer;
    max-width: 67px !important;
    min-width: 67px !important;
}
/*header*/
.qv-object-PLSmartPivot .grid-cells2-s {
    cursor: pointer;
    max-width: 66px !important;
    min-width: 66px !important;
}
/*body*/
.qv-object-PLSmartPivot .grid-cells-small-s {
    cursor: pointer;
    max-width: 52px !important;
    min-width: 52px !important;
}
/*header*/
.qv-object-PLSmartPivot .grid-cells2-small-s {
    cursor: pointer;
    max-width: 51px !important;
    min-width: 51px !important;
}
/*******************/
/* large column size*/
/*******************/
/*body*/
.qv-object-PLSmartPivot .grid-cells-l {
    cursor: pointer;
    max-width: 82px !important;
    min-width: 82px !important;
}
/*header*/
.qv-object-PLSmartPivot .grid-cells2-l {
    cursor: pointer;
    max-width: 81px !important;
    min-width: 81px !important;
}
/*body*/
.qv-object-PLSmartPivot .grid-cells-small-l {
    cursor: pointer;
    max-width: 66px !important;
    min-width: 66px !important;
}
/*header*/
.qv-object-PLSmartPivot .grid-cells2-small-l {
    cursor: pointer;
    max-width: 65px !important;
    min-width: 65px !important;
}
/*END OF GRID CELLS*/
/*First Column*/
.qv-object-PLSmartPivot .fdim-cells {
    background-color: white;
    cursor: pointer;
    max-width: 230px !important;
    min-width: 230px !important;
}
.qv-object-PLSmartPivot .fdim-cells:hover {
    background-color: #808080 !important;
    color: #fff;
}
.qv-object-PLSmartPivot tbody tr:hover {
    background-color: #808080 !important;
    color: #fff;
    cursor: default;
}
.qv-object-PLSmartPivot .grid-cells-header {
    padding: 0;
}
.qv-object-PLSmartPivot .grid-cells-title {
    min-width: 522px;
}
.data-table .fdim-cells {
    display: none;
}
.kpi-table {
    border-right: 1px solid #fff;
    box-shadow: 4px 2px 8px #e1e1e1;
    display: table;
    height: 100%;
    left: 258px;
    margin: 0;
    overflow: hidden !important;
    padding: 0;
    position: absolute;
    top: 0;
    width: 240px !important;
    z-index: 100;
}
.kpi-table .row-wrapper {
    overflow: hidden;
}
.data-table {
    display: table;
    float: left;
    height: 100%;
    margin-left: 253px;
    -ms-overflow-style: none;
    position: absolute;
    width: 272px !important;
    z-index: 90;
}
