/* eslint-disable */
.qv-object-qlik-smart-pivot {
  @KpiTableWidth: 230px;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  .edit-mode {
    pointer-events: none;
  }

  .grid-cells {
    cursor: pointer;
    line-height: 1em !important;
  }

  div.qv-object-content-container {
    z-index: 110;
  }

  .icon-xls {
    text-align: left;
  }

  button {
    width: 100%;
  }

  table {
    border-collapse: separate;
    border-spacing: 1px;
    width: auto;
  }

  tr {
    height: 25px;
  }
  
  td,
  th {
    padding: 5px !important; // prevent overwriting from single object
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    cursor: default;

    > div {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: inherit;
    }
  }

  .empty {
    background: #fff;
    padding: 0 !important;
  }

  th.main-kpi {
    text-align: center;
    vertical-align: middle;
  }

  .numeric {
    text-align: right;
  }

  // First Column 
  .fdim-cells {
    min-width: 230px !Important;
    max-width: 230px !Important;
    cursor: pointer;
    background-color: #fff;
  }

  tbody tr:hover td {
    cursor: default;
    background-color: #808080 !important;
    color: #fff;
  }

  .grid {
    height: 50px;
    width: 350px;
  }

  .tooltip {
    position: fixed !important;
    color: rgb(70, 70, 70);
    background-color: rgb(245, 239, 207);
    text-align: center;
    border: groove;
  }

  .root {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
  }

  .error {
    position: absolute; /*Define position */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000; /* Specify a stack order in case you're using a different order for other elements */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .kpi-table .fdim-cells,
  .data-table td {
    line-height: 1em !important;
  }

  .kpi-table {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: none;
    width: @KpiTableWidth !important;
    margin: 0;
    padding: 0;

    .header-wrapper {
      flex: none;
      box-shadow: 4px 2px 8px #e1e1e1;
    }

    .row-wrapper {
      overflow: scroll;
      margin: 0;
      margin-bottom: 8px;
      padding: 0;
      box-shadow: 4px 2px 8px #e1e1e1;
      min-height: 0; /* This is to make flex size-filling work */

      /* Adapt for Edge */
      @supports (-ms-ime-align: auto) {
        margin-bottom: 16px;
      }

      /* Adapt for IE11 */
      @media screen and (-ms-high-contrast: none) {
        margin-bottom: 16px;
      }
    }
  }

  .row-wrapper .fdim-cells {
    padding-left: 12px;
  }

  .data-table {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 13px;
    min-width: 0; /* This is to make flex size-filling work */

    .header-wrapper {
      flex: none;
      overflow: scroll;
      margin-right: 8px;
    }

    .row-wrapper {
      overflow: scroll;
      margin: 0;
      padding: 0;
      min-height: 0; /* This is to make flex size-filling work */

      /* Style scrollbar for FF */
      scrollbar-width: thin;
      scrollbar-color: #d3d3d3 transparent;
    }

    /* Adapt for Edge */
    @supports (-ms-ime-align: auto) {
      .header-wrapper {
        margin-right: 16px;
      }
    }

    /* Adapt for IE11 */
    @media screen and (-ms-high-contrast: none) {
      width: 100%;
      height: 100%;

      .header-wrapper {
        margin-right: 16px;
      }
    }
  }

  // hide scrollbars
  .kpi-table .header-wrapper,
  .kpi-table .row-wrapper,
  .data-table .header-wrapper {
    // stylelint-disable-next-line property-no-unknown 
    scrollbar-width: none;
    -ms-overflow-style: none; // IE 10+
    -moz-overflow: -moz-scrollbars-none; // Firefox

    &::-webkit-scrollbar {
      display: none; // Safari and Chrome
    }
  }

  .tooltip-wrapper {
    min-width: 25px;
    position: fixed;
    padding: 5px;
    padding-top: 8px;
    background-color: #404040;
    z-index: 100;
    pointer-events: none;
    border-radius: 5px;
    height: 30px;
    width: auto;
    opacity: 0.9;
    text-align: center;
    transform: translate(-50%, -110%);

    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 50%;
      border-width: 10px 10px 0;
      border-style: solid;
      border-color: #404040 transparent;
      margin-left: -10px;
      pointer-events: none;
    }

    > p {
      color: #fff;
    }
  }
}

/* eslint-enable */
